.get-in-touch {
    display: flex;
    padding: 50px 125px;
    padding-bottom: 0;
    flex-direction: column;
}

.useful-links {
    display: flex;
    padding: 0 100px;
    align-items: baseline;
    justify-content: space-between;
}

.link {
    display: flex;
    flex-direction: column;
    width: 19%;
    align-items: center;
    text-align: center;
}

.link-desc {
    font-family: 'Barlow', sans-serif;
}

.link-desc h3 {
    margin-bottom: 0;
    color: #004875;
}

.link-desc p {
    margin: 5px;
}

.link button {
    border: none;
    background-color: #00809c;
    color: #fff;
    padding: 8px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 5px;
}

.note-text {
    width: 63%;
    padding: 30px 0;
}

.note-text p {
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
}