@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.navbar {
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    width: 100vw;
}

.nav-top {
    background-color: #004875;
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding-right: 105px;
}

.nav-top-links {
    display: flex;
    gap: 150px;
    justify-content: flex-end;
}

.nav-down {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 135px;
    gap: 120px;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 85.33px;
    margin: 0;
    color: #1e2456;
}

.nav-down a {
    text-decoration: none;
    color: #004875;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 21.33px;
}

.gradient-line {
    border: none;
    height: 5px;
    background: linear-gradient(to right, #d3eeed, #ffffff, #fee1d2);
    margin: 20px 0;
  }