.footer {
    background-color: #004875;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    padding: 15px 125px;
}

.footer-up {
    display: flex;
    gap: 100px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.footer-link {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}

.footer-down {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    align-items: center;
}

.footer-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fDContent {
    width: 100%;
}

.fDContent p {
    margin: 10px 0;
    font-size: 14px;
}